body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.maindiv {text-align:auto;border-radius: 25px; width: 300px;;padding:20px;color:black;background-color:white}
.highlight
{
    background-color: #ffff00;
}